doctype html
html(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title}
    meta(name='description', content='')
    meta(name='theme-color' content='#4DA5F4')
    //- meta(name='csrf-token', content=_csrf)
    link(rel='shortcut icon', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href="../node_modules/bootstrap-table/dist/bootstrap-table.min.css")
  body
    //- include partials/header
    
    .container-fluid.wrap
      div(class="left-content")
        div(class="admin-title") admin管理
        ul(class="nav nav-pills nav-stacked" id="tabList")
          - var navList = [{name:"用户管理", file:"userForm"},{name:"文章管理",file:"profile",name:"消息管理",file:"messages"}]
          - let filename = name
            each val,index in navList
              if val.file==filename
                li(class="active")
                  a(href="/"+val.file+"?name="+val.file)=val.name
              else
                li(class="")
                  a(href="/"+val.file+"?name="+val.file)=val.name    
        
      div(class="content")
        div(class="right-nav ")
          span(class="current-user") 当前用户：#{username}
          span(class="quit")
            a(href="/controller/logout") 退出
        block content

        //- div(class="tab-content ")
        //-   div(role="tabpanel" class="tab-pane active" id="home") 
        //-     
        //-   div(role="tabpanel" class="tab-pane" id="profile") 2...
        //-   div(role="tabpanel" class="tab-pane" id="messages") 3...
        //-   div(role="tabpanel" class="tab-pane" id="settings") 4...
      include partials/flash
    //- include partials/footer

    script(src='/js/lib/jquery-3.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')

    //- Google Analytics: change UA-38177297-2 to be your site's ID
    //- script.
    //-   window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    //-   ga('create','UA-38177297-2','auto');ga('send','pageview')
    //- script(src='https://www.google-analytics.com/analytics.js' async defer)
